node_modules

# Ignored the files above so they only show in the working tree and not in my github repo. I kept going into gitignore and seeing how the files looked when it was not ignored and ignored. 